header h1{
    background-color: #66B7E8;
    color: black;
    text-align: center;
}
h2 {
    text-align: center;
    background-color: slateblue;
}
nav {
    background-color: magenta;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
nav li{
    display:inline-block;
    padding: 5px 10px 5px 10px
}
nav li a{
    text-decoration: none;
}

body{
background-color: #FF44AA;
}
article{
    text-align: center;
}
p {
    text-align: center;
}



footer {
    text-align: center;
    background-color: purple;
    color: white;
    padding: 20px 0;

}